html, body, #app, #app>div {
    height: 100%
}

* {
    --nextui-colors-background: rgba(0.0, 0.0, 0.0, 0.0);
    --vm-controls-height: 0 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.18);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(36, 31, 58, 0.64);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.45);
}

media-player {
    width: calc(100% - 300px);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    --vm-controls-height: 0 !important;
}

.playerContainer {
    width: calc(100% - 292px);
    position: relative;
}

:where(media-player[aspect-ratio]:not([data-fullscreen]) media-outlet) {
    height: 100% !important;
    padding-bottom: 0px !important;
}

:where(media-community-skin[data-video] div[part=scrim]) {
    background-color: rgba(0.0, 0.0, 0.0, 0.0) !important;
}

:where(media-player[data-view-type='video']:not([data-fullscreen])) :where(media-outlet, video, media-poster, div[part='scrim']) {
    display: flex;
}

:where(media-outlet) {
    background-color: rgba(0.0, 0.0, 0.0, 0.0) !important;
}

:where(media-player[data-view-type='video']) {
    background: rgba(0.0, 0.0, 0.0, 0.2) !important;
}